AT_Demo/API/EmbeddedResources/HPFlights_/webServices/HPFlights_/HPFlights__1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="HP.SOAQ.SampleApp" elementFormDefault="qualified" targetNamespace="HP.SOAQ.SampleApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateFlightOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightOrder" nillable="true" type="tns:FlightOrderDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FlightOrderDetails">
    <xs:sequence>
      <xs:element name="Class" type="tns:Classes" />
      <xs:element name="CustomerName" nillable="true" type="xs:string" />
      <xs:element name="DepartureDate" type="xs:dateTime" />
      <xs:element name="FlightNumber" type="xs:int" />
      <xs:element name="NumberOfTickets" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightOrderDetails" nillable="true" type="tns:FlightOrderDetails" />
  <xs:simpleType name="Classes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="First" />
      <xs:enumeration value="Business" />
      <xs:enumeration value="Economy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Classes" nillable="true" type="tns:Classes" />
  <xs:element name="CreateFlightOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFlightOrderResult" nillable="true" type="tns:CreatedOrderParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreatedOrderParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatedOrderParams" nillable="true" type="tns:CreatedOrderParams" />
  <xs:complexType name="MyFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyFaultException" nillable="true" type="tns:MyFaultException" />
  <xs:element name="GetFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartureCity" type="tns:Cities" />
        <xs:element minOccurs="0" name="ArrivalCity" type="tns:Cities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Cities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Denver" />
      <xs:enumeration value="Frankfurt" />
      <xs:enumeration value="London" />
      <xs:enumeration value="Los Angeles" />
      <xs:enumeration value="Paris" />
      <xs:enumeration value="Portland" />
      <xs:enumeration value="San Francisco" />
      <xs:enumeration value="Seattle" />
      <xs:enumeration value="Sydney" />
      <xs:enumeration value="Zurich" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Cities" nillable="true" type="tns:Cities" />
  <xs:element name="GetFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlightsResult" nillable="true" type="tns:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airlines" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:element name="GetFlightOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightsDetails" nillable="true" type="tns:GetFlightOrdersDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetFlightOrdersDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFlightOrdersDetails" nillable="true" type="tns:GetFlightOrdersDetails" />
  <xs:element name="GetFlightOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlightOrdersResult" nillable="true" type="tns:ArrayOfFlightOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfFlightOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightOrder" nillable="true" type="tns:FlightOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightOrder" nillable="true" type="tns:ArrayOfFlightOrder" />
  <xs:complexType name="FlightOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" type="tns:Classes" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlightNumber" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTickets" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightOrder" nillable="true" type="tns:FlightOrder" />
  <xs:element name="UpdateFlightOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlightOrderDetails" nillable="true" type="tns:UpdateFlightOrderDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UpdateFlightOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" type="tns:Classes" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNumber" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTickets" type="xs:int" />
      <xs:element name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateFlightOrderDetails" nillable="true" type="tns:UpdateFlightOrderDetails" />
  <xs:element name="UpdateFlightOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlightOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFlightOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFlightOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFlightOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllFlightOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllFlightOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAllFlightOrdersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>